{% extends "base.j2" %}
{% block content %}
<div class="row">
    <div class="d-flex justify-content-evenly">
        <figure id="plot1" class="figure" style="width:40%"></figure>
        <figure  id="plot2" class="figure" style="width:40%"></figure>
        <div class="card" style="width:20%">
            <h3 style="text-align: center;">Status</h3>
            <div class="d-flex flex-column justify-content-evenly" style="height:90%">
                <div id="motor" class="p-2">
                    <p><strong>Motor: </strong><span id="motorStatus">-</span></p>
                </div>
                <div id="soundCard" class="p-2">
                    <p><strong>Sound Card: </strong><span id="soundCardStatus">-</span></p>
                </div>
                <div id="camera" class="p-2">
                    <p><strong>Camera: </strong><span id="cameraStatus">-</span></p>
                </div>
                <div id="heater" class="p-2">
                    <p><strong>Heater: </strong><span id="heaterStatus">-</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button id="refreshButton">Start auto-refresh</button>
    </div>

</div>
<script>
    $(document).ready(function() {
        var clicked = false;
        var interval;
        $("#refreshButton").click(function() {
            if (clicked === false) {
                clicked = true;
                $("#refreshButton").html("Stop auto-refresh");
                interval = setInterval(function() {
                    $.get("../figures/temperature", function(data) {
                        $("#plot1").html(`<img src="data:image/png;base64,${data}" class="figure-img img-fluid rounded">`);
                    });
                    $.get("../figures/pressure", function(data) {
                        $("#plot2").html(`<img src="data:image/png;base64,${data}" class="figure-img img-fluid rounded">`);
                    });
                    $.get("../status", function(data) {
                        setMotorStatus("#motorStatus", data.motor_speed);
                        setSoundCardStatus("#soundCardStatus", data.sound_card_status);
                        setCameraStatus("#cameraStatus", data.camera_status);
                        setHeaterStatus("#heaterStatus", data.heater_status);
                    });
                }, 500); // twice per second
            } else {
                clicked = false;
                $("#refreshButton").html("Start auto-refresh");
                clearInterval(interval);
            }
        });

        document.getElementById("refreshButton").click();
    });
</script>
{% endblock %}