{% extends "base.j2" %}
{% block content %}
<div class="row">
    <div class="card" style="margin-top:3vh;">
        <h2 style="text-align: center;">Status</h2>
        <div class="d-flex flex-column justify-content-evenly status-check">
            {% if fluid %}
            <div id="motor" class="p-2">
                <p><strong>Motor: </strong><span id="motorStatus">-</span></p>
            </div>
            {% endif %}
            <div id="soundCard" class="p-2">
                <p><strong>Sound Card: </strong><span id="soundCardStatus">-</span></p>
            </div>
            <div id="camera" class="p-2">
                <p><strong>Camera: </strong><span id="cameraStatus">-</span></p>
            </div>
            <div id="heater" class="p-2">
                <p><strong>Heater: </strong><span id="heaterStatus">-</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <p id="status_update"></p>
        </div>
    </div>
</div>

<script>
    {% if fluid %}
    var motorStatus = document.getElementById("motorStatus");
    {% endif %}

    var soundCardStatus = document.getElementById("soundCardStatus");
    var cameraStatus = document.getElementById("cameraStatus");
    var heaterStatus = document.getElementById("heaterStatus");

    $(document).ready(function() {
        $("#status_update").html("Checking status of heaters...");
        $.ajax({
            type: "POST",
            url: "../status/check/heater",
            async: false,
            success: function(data) {
                $("#heaterStatus").html("OK");
                $("#heaterStatus").addClass("bg-success-subtle");
                $("#status_update").html("Heaters status check success.");
            },
            error: function(data) {
                $("#heaterStatus").html("FAILED");
                $("#heaterStatus").addClass("text-danger");
                $("#status_update").html("Heaters status check failed.");
            }
        })
        $("#status_update").html("Checking status of camera...");
        $.ajax({
            type: "POST",
            url: "../status/check/camera",
            async: false,
            success: function(data) {
                $("#cameraStatus").html("OK");
                $("#cameraStatus").addClass("bg-success-subtle");
                $("#status_update").html("Camera status check success.");
            },
            error: function(data) {
                $("#cameraStatus").html("FAILED");
                $("#cameraStatus").addClass("text-danger");
                $("#status_update").html("Camera status check failed.");
            }
        })
        $("#status_update").html("Checking status of sound card...");
        $.ajax({
            type: "POST",
            url: "../status/check/sound_card",
            async: false,
            success: function(data) {
                $("#soundCardStatus").html("OK");
                $("#soundCardStatus").addClass("bg-success-subtle");
                $("#status_update").html("Sound card status check success.");
            },
            error: function(data) {
                $("#soundCardStatus").html("FAILED");
                $("#soundCardStatus").addClass("text-danger");
                $("#status_update").html("Sound card status check failed.");
            }
        })
        {% if fluid %}
        $("#status_update").html("Checking status of motor...");
        $.ajax({
            type: "POST",
            url: "../status/check/motor",
            async: false,
            success: function(data) {
                $("#motorStatus").html("OK");
                $("#motorStatus").addClass("bg-success-subtle");
                $("#status_update").html("Motor status check success.");
            },
            error: function(data) {
                $("#motorStatus").html("FAILED");
                $("#motorStatus").addClass("text-danger");
                $("#status_update").html("Motor status check failed.");
            }
        })
        {% endif %}
        if ($("#heaterStatus").hasClass("text-danger") 
                || $("#cameraStatus").hasClass("text-danger") 
                || $("#soundCardStatus").hasClass("text-danger") 
                {% if fluid %} 
                || $("#motorStatus").hasClass("text-danger") 
                {% endif %}) {
            $("#status_update").html("Status check complete. One or more components are not working.");
            $("#status_update").addClass("bg-danger-subtle");
        } else {
            $("#status_update").html("Status check complete.");
            $("#status_update").addClass("bg-success-subtle");
        }
    })
</script>
{% endblock %}