body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-black-dropstar {
    background-color: #000000;
}

.site-header .navbar-nav .nav-link {
    color: #F6BE3B;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin-bottom: 20px;
}

div.status-check div p {
    /* This is used in the test plan cards */
    font-size: 23px;
}

.toast-container {
    /* This places the toast container on the bottom right of the screen and allows it to have multiple toasts stacked on each other */
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    display: grid;
    justify-items: end;
}